.box{
    height: 100px;
    width: 100px;
    border-radius: 20%;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 20px;
    color: #b0413e;
    background-color: #ffffc7;
}
body {
    background-color: #548687;
    text-align: center;
    display: flex;
  }
  .a{
    display: flex;
  }
.game{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main{
    display: flex;
    gap: 20px;
    flex-direction: column;

}
#reset{
  width: 60px;
  height: 60px;
}