*{
    margin: 0px;
    padding: 0px;
    text-align: center;
}
h1{
    background-color: #081b31;
    color: white;
    height: 5rem;
    line-height: 5rem;
}
.choice{
    height: 165px;
    width: 165px;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;

}
.choice :hover{
    opacity:50%;
}
.score-board{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 2rem;
    margin-top: 20px;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #081b31;
    margin-top: 30px;
    width: 200px;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
}
#msg{
    font-size: 25px;
    color:white;
}

